[submodule "submodules/controlledEvolution"]
	path = submodules/controlledEvolution
	url = https://github.com/jaimefjorge/controlledEvolution.git
[submodule "submodules/codacy-engine-scala-seed"]
	path = submodules/codacy-engine-scala-seed
	url = https://github.com/codacy/codacy-engine-scala-seed.git
[submodule "config-files"]
	path = config-files
	url = https://github.com/qamine-test/configs-test.git
